<a class="nav-link position-relative dropdown-toggle" href="#" type="button" data-bs-toggle="dropdown"
    data-bs-target="#notificationDropdown" aria-expanded="false">
    Notifications
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        {{user.receiver.all.count}}
    </span>
</a>




<div id="notificationDropdown" class="dropdown-menu bg-gradient notification-bar" style="width: 300px;">
    {% if user.receiver.all %}
    <div hx-post="{% url 'clear-notifications' user %}" hx-vals='{"csrfmiddlewaretoken":"{{csrf_token}}"}'
        hx-target="#notifications"
        class="clear-notifications dropdown-header border-secondary border-bottom text-center text-black-50"
        style="cursor: pointer;">
        <i class="fa-brush fa-solid fa-1x"></i> Clear all notification
    </div>
    {% for notification in user.receiver.all %}
    <div class="d-flex flex-row border-bottom border-secondary">
        <a href="{% url 'userprofile' notification.sender %}" class="align-self-center ml-2"
            style="width:10%;z-index: 9999;">
            <img src="{{notification.sender.profile.profile_pic.url}}" class="rounded-circle" width="100%" alt="">
        </a>
        <p class="px-2 border-secondary align-self-center text-wrap text-secondary">
            {{notification.notification}}
        </p>
    </div>
    {% endfor %}
    {% else %}
    <p class="small text-secondary text-center text-wrap">No notifications yet</p>
    {% endif %}
</div>