{% extends 'base.html' %}

{% block title %} Home
{% endblock title %}

{% block home %}
active
{% endblock home %}




{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-auto justify-content-center">

            <form id="imagepost" hx-post="{% url 'posts' %}" hx-target="#posts-content" method="post"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="d-flex flex-column bg-gradient align-items-center my-3 border border-secondary p-4"
                    style="border-radius: 5px;">
                    <div>
                        <label for="imageupload" aria-label="Upload Image">
                            <img class="my-2 mx-auto" id="preview" width="86%" src="#" alt="Preview"
                                style="display:none;">
                            <i class="fa-2x fa-solid fa-file-upload mx-auto upload-icon"></i>
                        </label>
                        <input id="imageupload" name="post-image" type="file" style="display:none;" required>
                    </div>
                    <div class="input-group input-group bg-gradient">
                        <input name="caption" placeholder="caption" type="text"
                            class="small bg-transparent form-control" aria-label="Post Caption" required>
                    </div>
                    <div class="mt-2">
                        <input class="btn-remove" type="submit" value="Post">
                    </div>
                </div>
            </form>

            <script>
                const input = document.getElementById('imageupload');
                const preview = document.getElementById('preview');

                input.addEventListener('change', () => {
                    const file = input.files[0];

                    if (file) {
                        const reader = new FileReader();

                        reader.addEventListener('load', () => {
                            preview.src = reader.result;
                            preview.style.display = 'block';
                        });

                        reader.readAsDataURL(file);
                    }
                });
                function clearForm() {
                    document.getElementById("imagepost").reset();
                    preview.src = "#";
                    preview.style.display = "none";
                }

                document.addEventListener("htmx:afterRequest", clearForm);
            </script>
            <div id="posts-content">
                {% include 'usertimeline/partials/posts.html' %}


            </div>
        </div>
        <div class="col-4 d-none d-md-block mx-auto d-flex flex-column">
            <a href="{% url 'userprofile' user %}">

                <div class="d-flex flex-row align-items-center">
                    <img src="{{user.profile.profile_pic.url}}" alt="{{user}}" class="img-fluid rounded-circle"
                        style="height: 70px;width: 20%;">
                    <div>
                        <h6 class="mx-2 my-0 text-dark">{{user.username}}</h6>
                        <p class="mx-2 my-0 text-dark">{{user.get_full_name}}</p>
                    </div>
                </div>
            </a>
            <div>
                <h6 class="text-secondary small font-weight-bold my-2">Suggestions for you</h6>
                <ul class="list-group">
                    {% for suggestion in suggestions  %}
                    <li class="list-group-item my-0 suggestions">

                        <div class="d-flex flex-row align-items-center">
                            <a href="{% url 'userprofile' suggestion %}">
                                <div class="d-flex flex-row">
                                    <img src="{{suggestion.profile.profile_pic.url}}" class="img-fluid rounded-circle"
                                        alt="profile" style="width: 25%;height: 43px;">
                                    <div class="flex-grow-1">
                                        <h6 class="mx-2 small font-weight-bold text-dark" style="margin-bottom: -5px;">
                                            {{suggestion.username}}
                                        </h6>
                                        <p class="my-0 small mx-2 text-secondary">{{suggestion.get_full_name}}</p>
                                    </div>
                                </div>
                            </a>

                            <div class="mx-auto">
                                <button hx-post="{% url 'follow' suggestion %}"
                                    hx-headers='{"X-CSRFToken": "{{csrf_token}}"}'
                                    hx-vals='{"wizu":"{{suggestion.id}}"}'
                                    class="bg-gradient btn-follow small">Follow</button>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}