<h3 class="text-center mb-2 mt-4 lead">Following ({{puser.profile.follows.all.count}})</h3>
<ul class="list-group mt-5">
    {% for following in puser.profile.follows.all %}
    <li class="list-group-item bg-gradient py-md-2 border-0 border-bottom">
        <div class="d-flex flex-row w-100 my-0">
            <div class="my-0" style="width: 52px;">
                <img class="rounded-circle" src="{{following.profile.profile_pic.url}}" alt="profile pic"
                    style="height: 46px;">
            </div>
            <div class="ml-3 flex-sm-grow-1">
                <a href="{% url 'userprofile' following %}">

                    <h6 class="text-dark font-weight-light">@{{following.username}}</h6>
                    <p style="margin-top: -6px;" class="small text-dark">{{following.first_name}}
                        {{following.last_name}}
                    </p>
                </a>
            </div>

            {% if puser == user %}


            <div>
                <button class="mx-auto shadow btn btn-remove" hx-post="{% url 'unfollow' following %}"
                    hx-headers='{"X-CSRFToken": "{{csrf_token}}"}' hx-target="#user-content"
                    hx-vals='{"wizu":"{{following.id}}","cprof":"{{puser.id}}"}'>Unfollow</button>
            </div>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>